/* OwnerWorkerSelectionPage.css */
.role-card {
  height: 100%;
  background-color: #9ad6bd !important;
  /* Change to your desired background color */
  border: 1px solid #dee2e6;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
  color: '#36454f !important';
}

.role-card:hover {
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

.role-card .card-body {
  display: flex;
  flex-direction: column;
}

.role-card .card-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.role-card .card-text {
  flex-grow: 1;
  margin-bottom: 20px;
}


/* Arrow icon */
.arrow-icon {
  position: absolute;
  top: 2rem;
  left: 2rem;
  border: 1px solid rgba(var(--bs-link-color-rgb));
  padding: .5rem;
  border-radius: 30%;
}

@media (hover: none) and (min-width: 340px) {
  .arrow-icon {
      background: rgba(var(--bs-link-color-rgb));
      color: #fff;
      z-index: 999;
  }
}

.arrow-icon:hover {
  background: rgba(var(--bs-link-color-rgb));
  color: #fff;
}

/* registration */

.reg-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.registration-box {
  background-color: #9aaabbcc;
}

@media (hover: none) and (min-width: 340px) {
  .reg-mainHead {
      text-align: center;
  }

  .login-mainHead {
      text-align: center;
  }

  .place-select-container {
      margin: 1rem;
  }
}


.nav {
  --bs-nav-link-padding-x: 0rem !important;
}

/* place select */

.place-select-container {
  display: flex;
  justify-content: center;
  /* Horizontally center */
  align-items: center;
  /* Vertically center */
  height: 100vh;
  /* Full height of the viewport */
}


.place-select {
  /* Your existing styles */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: cadetblue;
  width: 400px;
  /* Adjust width as needed */
  height: 300px;
  /* Adjust height as needed */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  /* Add box shadow for a nice effect */
}

.place-select label {
  margin-bottom: 10px;
}

.place-select select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 16px;
}

.place-select select:disabled {
  opacity: 0.5;
}